venv
.venv
.env
.git
.gitignore
.pytest_cache
.mypy_cache
.venv/
__pycache__
build/
dist/
wheels/
*.egg-info
logs/
coverage.xml
.coverage
*.pyc
*.pyo
*.pyd
.tox
*.swp
node_modules
docs/site
.secrets.baseline
