DATABASE_URL="DATABASE_URL"
APP_ID="ID BOT GITHUB APP"
PRIVATE_KEY="PRIVATE KEY GITHUB APP"
AZURE_CONTAINER_APP_NAME="NOM DE LA CONTAINER APP"
AZURE_CREDENTIALS="CREDENTIALS AZURE"
AZURE_RESOURCE_GROUP="NOM DU RESOURCE GROUP"
AZURE_SUBSCRIPTION_ID="ID SUBSCRIPTION AZURE"
DEBUG_MODE="SET_DEBUG_MODE_HERE"
API_KEY="SET_API_KEY_HERE"
SECRET="SET_SECRET_HERE"
