DATABASE_URL="DATABASE_URL"
APP_ID="ID BOT GITHUB APP"
# pragma: allowlist secret
APP_PRIVATE_KEY="PRIVATE KEY FOR GITHUB APP"
# pragma: allowlist secret
APP_PRIVATE_KEY_B64="BASE64_ENCODED_PRIVATE_KEY_FOR_GITHUB_APP"
DEBUG_MODE="SET_DEBUG_MODE_HERE"
RENDER_DEPLOY_HOOK_URL="RENDER_DEPLOY_HOOK_URL"
# pragma: allowlist secret
API_KEY="SET_API_KEY_HERE"
# pragma: allowlist secret
SECRET="SET_SECRET_HERE"
